$sidebar-bg-color: #151618 !default;
$sidebar-color: white !default;
$sidebar-width: 256px !default;
$sidebar-collapsed-width: 5rem !default;
$highlight-color: #3B82F6 !default;
$submenu-bg-color: lighten(#151618, 5%) !default;
$submenu-bg-color-collapsed: #151618 !default;
$icon-bg-color: white !default;
$icon-size: 2rem !default;
$breakpoint-sm: 630px !default;

@import '../../node_modules/react-pro-sidebar/dist/scss/styles.scss';

@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    //transform: rotate(0deg);
  }
  10% {
    //transform: rotate(10deg);
  }
  40% {
    //transform: rotate(-10deg);
  }
  60% {
    //transform: rotate(5deg);
  }
  80% {
    //transform: rotate(-5deg);
  }
}

li.pro-menu-item.pro-sub-menu.sidebar-item.open > div.pro-inner-item {
	background-color: yellow;
}

.pro-sidebar {
	position: fixed;
}

.pro-sidebar-inner ::-webkit-scrollbar {
	width: 0;
}

.pro-menu-item {
	font-size: 1rem !important;
}

.pro-sidebar-header {
	position: fixed;
	width: $sidebar-width;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #151618 !important;
	color: white;
	border-bottom: none !important;
	z-index: 10;
}

.pro-sidebar-content {
	margin-top: 4rem;
}

.sidebar-item {
	transition: background-color 75ms;

	&:hover {
		background-color: pink;
	}
}

.pro-inner-list-item .pro-inner-item {
	color: #CFCFD0;
}

.pro-inner-list-item .pro-inner-item:hover {
	color: #2563EB !important;
}

 //! Esto hace que no se quede morado en el open 
 //li.pro-menu-item.pro-sub-menu.sidebar-item.open > div.pro-inner-item {
	 //background-color: transparent;
 //}

.custom-overlay {
	position: fixed;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: yellow, $alpha: 0.5);
}

#root > div > div > div.pro-sidebar.fixed.w-64.shadow-md.sm > div.pro-sidebar-inner > div > div.pro-sidebar-content.tw-sidebar > nav > ul > li > div.pro-inner-item { 
	color: white;
	transition: background 75ms;
}

#root > div > div > div.pro-sidebar.fixed.w-64.shadow-md.sm > div.pro-sidebar-inner > div > div.pro-sidebar-content.tw-sidebar > nav > ul > li > div.pro-inner-item:hover {
	background: #2563EB;
}

#root > div > div > div.pro-sidebar.fixed.w-64.shadow-md.dark.sm > div.pro-sidebar-inner > div > div.pro-sidebar-content.tw-sidebar {
	background: #151618;
}

#root > div > div > div.pro-sidebar.fixed.w-64.shadow-md.sm > div.pro-sidebar-inner > div > div.pro-sidebar-header.tw-sidebar.flex-col-center > h2 {
	color: white;
}
