@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Nunito Sans', sans-serif;	
}

#root, #root > div {
	height: 100%;
}

.flex-col-center {
	@apply flex flex-col justify-center items-center;
}

.tw-page-bg {
	/*Light Theme Defaults*/
	@apply bg-white;

	/*Dark Theme Defaults*/
	@apply dark:bg-gray-dark-bg;
}

.tw-ff {
	/*Global*/
	@apply text-sm p-2 rounded outline-none border-2 border-solid transition;

	/*Light Theme Defaults*/
	@apply text-black bg-white border-gray-200;

	/*Light Theme Pseudo-Classes*/
	@apply focus:bg-gray-100 focus:border-gray-300;

	/*Dark Theme Defaults*/
	@apply dark:text-gray-dark-text dark:bg-gray-dark-overlay dark:border-gray-dark-overlay;

	/*Dark Theme Pseudo-Classes*/
	@apply dark:focus:bg-gray-dark-overlay dark:focus:border-blue-500;
}

.tw-ff-xs {
	@apply col-span-2;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-sm {
	@apply col-span-3; 

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-md {
	@apply col-span-4;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-lg {
	@apply col-span-6;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-xl {
	@apply col-span-12; 

	/*Responsive Settings*/
	@apply sm:col-span-12;
}

.tw-ff-xs-nl {
	@apply col-start-1 col-end-3;

	/*Responsive Settings*/
	@apply sm:col-end-6;
}

.tw-ff-sm-nl {
	@apply col-start-1 col-end-4;

	/*Responsive Settings*/
	@apply sm:col-end-6;
}

.tw-ff-md-nl {
	@apply col-start-1 col-end-5; 

	/*Responsive Settings*/
	@apply sm:col-end-7;
}

.tw-ff-lg-nl {
	@apply col-start-1 col-end-7; 

	/*Responsive Settings*/
	@apply sm:col-end-7;
}

.tw-ff-xl-nl {
	@apply col-start-1 col-end-13; 

	/*Responsive Settings*/
	@apply sm:col-end-13;
}

.tw-header {
	/*Global*/
	@apply font-bold;

	/*Light Theme Defaults*/
	@apply text-black;
}

.tw-header-secondary {
	/*Light Theme Defaults*/
	@apply text-black;

	/*Dark Theme Defaults*/
	@apply dark:text-gray-200;
}

.tw-text-secondary {
	/*Light Theme Defaults*/
	@apply text-gray-600;

	/*Dark Theme Defaults*/
	@apply dark:text-gray-dark-text;
}

.tw-text-label {
	/*Global*/
	@apply font-bold mb-2 ;

	/*Light Theme Defaults*/
	@apply text-gray-600;

	/*Dark Theme Defaults*/
	@apply dark:text-gray-dark-text;
}

.tw-text-accent {
	/*Light Theme Defaults*/
	@apply text-blue-500;

	/*Dark Theme Defaults*/
	@apply dark:text-blue-700;
}

.tw-button-accent {
	/*Global*/
	@apply py-2 text-white font-bold rounded cursor-pointer;

	/*Light Theme Defaults*/
	@apply bg-blue-500;

	/*Light Theme Pseudo-Classes*/
	@apply hover:bg-blue-600;

	/*Dark Theme Defaults*/
	@apply dark:bg-blue-700;

	/*Dark Theme Pseudo-Classes*/
	@apply dark:hover:bg-blue-500;
}

.tw-rnd-button-accent {
	/*Global*/
	@apply py-2 text-white font-bold rounded-full cursor-pointer flex-col-center fill-current;

	/*Light Theme Defaults*/
	@apply bg-blue-500;

	/*Light Theme Pseudo-Classes*/
	@apply hover:bg-blue-600;

	/*Dark Theme Defaults*/
	@apply dark:text-white dark:bg-blue-700;

	/*Dark Theme Pseudo-Classes*/
	@apply dark:hover:bg-blue-500;
}

.tw-sidebar {
	/*Light Theme Defaults*/
	@apply text-black !important;

	/*Dark Theme Defaults*/
	@apply dark:bg-gray-dark-bg text-white;
}


