@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ================ */
/* ==== GLOBAL ==== */
/* ================ */

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Nunito Sans', sans-serif;	
}

#root, #root > div {
	height: 100%;
}

/* ================ */
/* === COLORING === */
/* ================ */

/* La forma en la que funcionan estas clases es que tienen dos colores principales en el nombre, el primero indica el color que se va a tener en light theme y el segundo pues el color del dark theme. Adicionalmente se indican otras flags de las clases, como por ejemplo, si esta cambia el color del background o del texto. En algunos casos se indica en numero en alguno de los colores, esto inidica la el grado del color, es decir, mientras menor sea el grado, mas oscuro sera el color, y por lo tanto, se tendra que ocupar para elementos mas cercanos al background de la pagina. Asi por ejemplo, gray-0, significa que es el gris mas oscuro de la paleta de grises, por lo tanto, debe ir al fondo de todos, un gray-1 iria en un elemento que este por encima del fondo, y por debajo de un elemento con gray-2 y asi. */

.bg-white-gray-0 {
	/*Esta clase se utiliza exclusivamente para el fondo de la pagina.*/

	/*Light Theme Defaults*/
	@apply bg-white;

	/*Dark Theme Defaults*/
	@apply dark:bg-gray-0;
}

.text-black-white {
	/*Es la clase que se utiliza para los headers por ejemplos o titulos pues, ya que son los textos con mayor jerarquia, y por lo tanto van en negro en light mode, y en blanco puro en dark mode. Ademas se suelen poner en bold, pero para hacer esta clase lo mas reutilizable posible se tienen que indicar explicitamente que va a ser bold cada texto.*/

	/*Light Theme Defaults*/
	@apply text-black;

	/*Dark Theme Defaults*/
	@apply dark:text-white
}

/* ================ */
/* == COMPONENTS == */
/* ================ */

.form-field-container {
	/*Global*/
	@apply text-sm p-2 rounded outline-none border-2 border-solid transition;

	/*Light Theme Defaults*/
	@apply text-black bg-white border-gray-200;

	/*Light Theme Pseudo-Classes*/
	@apply focus:bg-gray-100 focus:border-gray-300;

	/*Dark Theme Defaults*/
	@apply dark:text-gray-dark-text dark:bg-gray-dark-overlay dark:border-gray-dark-overlay;

	/*Dark Theme Pseudo-Classes*/
	@apply dark:focus:bg-gray-dark-overlay dark:focus:border-blue-500;
}

.tw-ff-xs {
	@apply col-span-2;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-sm {
	@apply col-span-3; 

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-md {
	@apply col-span-4;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-lg {
	@apply col-span-6;

	/*Responsive Settings*/
	@apply sm:col-span-6;
}

.tw-ff-xl {
	@apply col-span-12; 

	/*Responsive Settings*/
	@apply sm:col-span-12;
}

.tw-ff-xs-nl {
	@apply col-start-1 col-end-3;

	/*Responsive Settings*/
	@apply sm:col-end-6;
}

.tw-ff-sm-nl {
	@apply col-start-1 col-end-4;

	/*Responsive Settings*/
	@apply sm:col-end-6;
}

.tw-ff-md-nl {
	@apply col-start-1 col-end-5; 

	/*Responsive Settings*/
	@apply sm:col-end-7;
}

.tw-ff-lg-nl {
	@apply col-start-1 col-end-7; 

	/*Responsive Settings*/
	@apply sm:col-end-7;
}

.tw-ff-xl-nl {
	@apply col-start-1 col-end-13; 

	/*Responsive Settings*/
	@apply sm:col-end-13;
}

.tw-button-accent {
	/*Global*/
	@apply py-2 text-white font-bold rounded cursor-pointer;

	/*Light Theme Defaults*/
	@apply bg-blue-500;

	/*Light Theme Pseudo-Classes*/
	@apply hover:bg-blue-600;

	/*Dark Theme Defaults*/
	@apply dark:bg-blue-700;

	/*Dark Theme Pseudo-Classes*/
	@apply dark:hover:bg-blue-500;
}
