@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

// & Global Variables
$color-primary: #456cf6;
$color-secondary: #353c4a;
$page-background: #1e2530;
$nav-background: #283140;
$color-success: #36a794;
$color-alert: #bd783f;
$color-text-primary: #ffffff;
$color-text-secondary: #9ba6ad;

$form-submit-btn-color: #36a794;
$form-cancel-btn-color: #bd783f;

$sidebar-width: 14rem;

$input-height: 2.5rem;
$input-x-padding: 0.75rem;
$transition-default: 150ms;
$border-radius: 0.25rem;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
	font-family: 'Nunito', sans-serif !important;
}

:root {
	font-size: 16px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html,
body {
	min-height: 100vh;

	background-color: $page-background;
	color: $color-text-primary;
}

.rounded {
	border-radius: $border-radius;
}

.rounded-l {
	border-radius: $border-radius 0 0 $border-radius;
}

.rounded-r {
	border-radius: 0 $border-radius $border-radius 0;
}

.icon {
	color: $color-text-primary;
}
