@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

// & Global Variables
$color-primary: #456cf6;
$color-secondary: #353c4a;
$page-background: #1e2530;
$nav-background: #283140;
$color-success: #36a794;
$color-alert: #bd783f;
$color-text-primary: #ffffff;
$color-text-secondary: #9ba6ad;
$input-height: 2.5rem;
$input-x-padding: 0.75rem;
$transition-default: 150ms;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
	font-family: 'Nunito Sans';
}

:root {
	font-size: 16px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html,
body {
	min-height: 100vh;

	font-family: 'Nunito', sans-serif !important;
	background-color: $page-background;
	color: $color-text-primary;
}

.rounded {
	border-radius: 0.5rem;
}

.rounded-l {
	border-radius: 0.5rem 0 0 0.5rem;
}

.rounded-r {
	border-radius: 0 0.5rem 0.5rem 0;
}

.icon {
	color: $color-text-primary;
}