.form-title {

}

.form-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax($input-height, auto);
	max-width: 40rem;
	gap: 0.75rem;
	margin-bottom: 4rem;
	&:last-child {
		margin-bottom: 0;
	}
}

%form-field {
	display: flex;
	align-items: center;
	width: 100%;
}

%field {
	display: flex;
	height: $input-height;
	padding: 0 $input-x-padding;
	align-items: center;

	font-size: 0.87rem;
	caret-color: $color-text-primary;
	color: $color-text-primary;
	background-color: $color-secondary;
	border: none;
	outline: none;

	&::placeholder {
		color: $color-text-secondary;
	}
}

.std-input {
	@extend %input;
	width: 100%;
	flex: 1;
}

.alt-input-container {
	margin: 0 0.75rem;
}

.alt-input {
	@extend %input;
}

.input-checkbox-content {
	width: 100%;
	text-align: center;
}

%btn {
	height: $input-height;
	transition: opacity $transition-default;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.8;
	}
}

.input-container-lg {
	@extend %input-container;
	grid-column: span 12;
}

.input-container-md {
	@extend %input-container;
	grid-column: span 6;
}

.input-container-md-sm {
	@extend %input-container;
	grid-column: span 4;
}

.input-container-sm {
	@extend %input-container;
	grid-column: span 3;
}

.input-container-xs {
	@extend %input-container;
	grid-column: span 1;
}

.input-container-md-nl {
	grid-column: 1 / span 6;
}

.input-container-sm-nl {
	grid-column: 1 / span 3;
}

.input-container-flex {
	display: flex;
}

.input-btn {
	@extend %btn;

	width: 2.5rem;
	min-width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $color-primary;
	cursor: pointer;
}

%form-btn {
	@extend %btn;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #ffffff;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: regular;
	font-size: 1rem;
}

.form-btn-success {
	@extend %form-btn;
	background-color: $color-success;
}

.form-btn-primary {
	@extend %form-btn;
	background-color: $color-primary;
}

.form-btn-alert {
	@extend %form-btn;
	background-color: $color-alert;
}

input[type='checkbox'] {
	transform: scale(1.5);
}
