.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.vlogin-container{display:'flex'; flex-direction: 'column'; width:'33vh'}
