.sidebar-container {
	position: fixed;
	width: 12rem;
	height: 100%;
	display: flex;
	flex-direction: column;

	background-color: $nav-background;
}

.sidebar-hide {
	left: -100%;
	transition: position 2s;
}

.sidebar-logo {
	text-align: center;
	padding: 1rem;
}

.sidebar-nav {
	margin: 1rem 0;
	padding: 0 1rem;
}

.sidebar-list-item {
	height: $input-height;
	margin: 0.5rem 0;
	padding: 0 0.75rem;

	position: relative;

	cursor: pointer;
	transition: background-color $transition-default;

	&:hover {
		background-color: $color-primary;
	}
}

.sidebar-list-item-info {
	height: 100%;
	display: flex;
	align-items: center;
}

.sidebar-dropdown-menu {
	padding-left: 0.75rem;

	.sidebar-dropdown-item {
		padding: 0.5rem 0;
		font-size: 0.9rem;

		&:hover {
			color: $color-primary;
		}
	}
}

.sidebar-item-icon {
	margin-right: 0.5rem;
}

.is-active {
	background-color: $color-primary;
}

.sidebar-dropdown-item {
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-size: 0.9rem;
	color: $color-text-secondary;
	display: flex;
	align-items: center;

	&:hover {
		color: $color-primary;
	}
}
