$sidebar-bg-color: $nav-background !default;
$sidebar-color: $color-text-primary !default;
$sidebar-width: 14rem !default;
$sidebar-collapsed-width: 5rem !default;
$highlight-color: $color-text-primary !default;
$submenu-bg-color: lighten($nav-background, 5%) !default;
$submenu-bg-color-collapsed: $nav-background !default;
$icon-bg-color: $color-text-primary !default;
$icon-size: 2rem !default;

@import '../../../node_modules/react-pro-sidebar/dist/scss/styles.scss';

.pro-sidebar {
	position: fixed;
}

.pro-sidebar-inner ::-webkit-scrollbar {
	width: 0;
}

.pro-menu-item {
	font-size: 1rem !important;
}

.pro-sidebar-header {
	position: fixed;
	width: 14rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $nav-background !important;
	color: $color-text-primary;
	border-bottom: none !important;
	z-index: 10;
}

.pro-sidebar-content {
	margin-top: 4rem;
}

.sidebar-item {
	transition: background-color $transition-default;

	&:hover {
		background-color: $color-primary;
	}
}

.pro-inner-list-item .pro-inner-item:hover {
	color: $color-primary !important;
}