@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: "Nunito Sans", sans-serif !important;
}

:root {
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  background-color: #1e2530;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-l {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rounded-r {
  border-radius: 0 0.25rem 0.25rem 0;
}

.icon {
  color: #ffffff;
}

.search-input {
  flex-direction: row !important;
  gap: 0 !important;
}

.form {
  max-width: 40rem;
}

.form-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.75rem;
}

.form-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-title-container h2 {
  margin-bottom: 0.5rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.form-title-container .form-description {
  color: #9ba6ad;
}

.form-retractile > .form-retractile {
  margin-left: 1rem;
  color: #ffffff;
}

.form-retractile .form-container {
  margin-left: 1rem;
}

.form-retractile-form {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #353c4a;
}
.form-retractile-form:last-child {
  border-bottom: none;
}

.form-retractile-title:hover {
  color: #9ba6ad;
}

.dropdown-container, .alt-input, .std-input {
  max-width: 100%;
  display: flex;
  height: 2.5rem;
  padding: 0 0.75rem;
  align-items: center;
  font-size: 0.87rem;
  caret-color: #ffffff;
  color: #ffffff;
  background-color: #353c4a;
  border: none;
  outline: none;
}
.dropdown-container::placeholder, .alt-input::placeholder, .std-input::placeholder {
  color: #9ba6ad;
}

.std-input {
  width: 100%;
  position: relative;
}

.alt-input-container {
  margin: 0 0.75rem;
}

.input-checkbox-content {
  width: 100%;
  text-align: center;
}

.form-field-xs-nl, .form-field-sm-nl, .form-field-md-nl, .form-field-lg-nl, .form-field-xs, .form-field-sm, .form-field-md, .form-field-lg, .form-field-xl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
.form-field-xs-nl label, .form-field-sm-nl label, .form-field-md-nl label, .form-field-lg-nl label, .form-field-xs label, .form-field-sm label, .form-field-md label, .form-field-lg label, .form-field-xl label {
  height: 1.15rem;
}

.form-field-xl {
  grid-column: span 12;
}

.form-field-lg {
  grid-column: span 6;
}

.form-field-md {
  grid-column: span 4;
}

.form-field-sm {
  grid-column: span 3;
}

.form-field-xs {
  grid-column: span 1;
}

.form-field-xs > .std-input {
  text-align: center;
}

.form-field-lg-nl {
  grid-column: 1/span 6;
}

.form-field-md-nl {
  grid-column: 1/span 4;
}

.form-field-sm-nl {
  grid-column: 1/span 3;
}

.form-field-xs-nl {
  grid-column: 1/span 1;
}

.form-field-flex {
  display: flex;
}

.form-retractile-child {
  color: #9ba6ad;
}

.form-title-chevron {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.form-title-chevron .form-retractile-chevron {
  width: 1rem;
  margin-right: 0.5rem;
  transition: transform 150ms;
}
.form-title-chevron .form-active {
  transform: rotateZ(90deg);
}
.form-title-chevron h2 {
  margin-bottom: 0;
}

.dropdown-container {
  width: 100%;
  position: relative;
  color: #9ba6ad;
}

.dropdown-container select {
  position: absolute;
  left: 0;
  appearance: none;
  width: 100%;
  height: 100%;
  padding: 0 0.75rem;
  font-size: 0.87rem;
  background-color: #353c4a;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.dropdown-container select:focus {
  outline: none;
}

.dropdown-icon {
  position: absolute;
  right: 0.75rem;
  bottom: 25%;
  transform: translateY(calc(25% - 0.15rem));
  pointer-events: none;
}

.form-btn-container {
  margin-top: 2rem;
}

.form-btn-alert, .form-btn-primary, .form-btn-success, .form-cancel-btn, .form-submit-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: bold;
}

.form-submit-btn {
  background-color: #36a794;
}

.form-cancel-btn {
  background-color: #bd783f;
}

.error {
  font-size: 0.75rem;
  height: 0.75rem;
  color: #bd783f;
}

.input-error {
  border: 2px solid #bd783f;
}

.table-container {
  grid-column: 1/-1;
  color: white;
  border-collapse: collapse;
}

tr {
  display: flex;
  height: 2.5rem;
}

tbody td, thead th {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

thead th {
  background-color: #456cf6;
}
thead th:first-child {
  border-radius: 0.25rem 0 0 0;
}
thead th:last-child {
  border-radius: 0 0.25rem 0 0;
}

tbody tr:last-of-type td:first-child {
  border-radius: 0 0 0 0.25rem;
}
tbody tr:last-of-type td:last-child {
  border-radius: 0 0 0.25rem 0;
}
tbody td {
  background-color: #353c4a;
}

.page {
  min-height: 100%;
  width: calc(100% - $sidebar-width);
  margin-left: 14rem;
}

.topbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 5;
  background-color: #283140;
}

.page-container {
  display: grid;
  grid-template-columns: auto 250px;
  padding: 2rem;
  padding-top: calc(4rem + 2rem);
}

.burger-btn {
  width: 1.5rem;
  height: 1.5rem;
}

.burger-icon {
  width: 100%;
  height: 100%;
}

.page-menu {
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.page-menu a {
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: #9ba6ad;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 150ms;
}

.page-menu a:hover {
  background-color: #456cf6;
  color: #ffffff;
}

.page-menu a.active {
  background-color: #456cf6;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vlogin-container {
  display: "flex";
  flex-direction: "column";
  width: "33vh";
}

.form-btn-alert, .form-btn-primary, .form-btn-success, .form-submit-btn, .form-cancel-btn, .input-btn-transparent, .input-btn-primary {
  height: 2.5rem;
  transition: opacity 150ms;
  outline: none;
  border: none;
}
.form-btn-alert:hover, .form-btn-primary:hover, .form-btn-success:hover, .form-submit-btn:hover, .form-cancel-btn:hover, .input-btn-transparent:hover, .input-btn-primary:hover, .form-btn-alert:active, .form-btn-primary:active, .form-btn-success:active, .form-submit-btn:active, .form-cancel-btn:active, .input-btn-transparent:active, .input-btn-primary:active, .form-btn-alert:focus, .form-btn-primary:focus, .form-btn-success:focus, .form-submit-btn:focus, .form-cancel-btn:focus, .input-btn-transparent:focus, .input-btn-primary:focus {
  opacity: 0.8;
}

.input-btn-transparent, .input-btn-primary {
  width: 2.5rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input-btn-primary {
  background-color: #456cf6;
}

.input-btn-transparent {
  background-color: #353c4a;
}

.form-btn-alert, .form-btn-primary, .form-btn-success, .form-submit-btn, .form-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  color: #ffffff;
  font-weight: regular;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.form-btn-success {
  background-color: #36a794;
}

.form-btn-primary {
  background-color: #456cf6;
}

.form-btn-alert {
  background-color: #bd783f;
}

@media screen and (max-width: 802px) {
  .form-field-xl {
    grid-column: span 12;
  }

  .form-field-lg {
    grid-column: span 12;
  }

  .form-field-md {
    grid-column: span 6;
  }

  .form-field-sm {
    grid-column: span 6;
  }

  .form-field-xs {
    grid-column: span 3;
  }

  .form-field-lg-nl {
    grid-column: span 12;
  }

  .form-field-sm-nl {
    grid-column: 1/span 6;
  }

  .form-field-xs-nl {
    grid-column: 1/span 1;
  }
}
@media screen and (max-width: 970px) {
  .form-retractile > .form-retractile {
    margin-left: 0;
  }

  .form-retractile .form-container {
    margin-left: 0;
  }
}
@media screen and (max-width: 678px) {
  .page {
    width: 100%;
    margin: 0;
  }

  .page-container {
    padding: 1rem;
    padding-top: calc(4rem + 1rem);
  }

  .form-field-lg-nl {
    grid-column: span 12;
  }

  .form-field-md {
    grid-column: span 12;
  }

  .form-field-sm {
    grid-column: span 6;
  }

  .form-field-xs {
    grid-column: span 3;
  }

  .form-field-sm-nl {
    grid-column: 1/span 6;
  }

  .form-field-xs-nl {
    grid-column: 1/span 1;
  }

  .form-retractile-form {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 1200px) {
  .page-menu {
    display: none;
  }

  .page-container {
    grid-template-columns: 1fr;
  }
}
