/* Error: expected "{".
 *    ,
 * 16 |     z-index: 10;
 *    |                ^
 *    '
 *   src\assets\styles\_sidebar.scss 16:13  @import
 *   src\assets\styles\styles.scss 4:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 16 \2502      z-index: 10;\d\a    \2502                 ^\a    \2575 \a   src\\assets\\styles\\_sidebar.scss 16:13  @import\a   src\\assets\\styles\\styles.scss 4:9      root stylesheet';
}
