{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["*.js, *.jsx"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
